.splashContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.circleOuter {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px dotted #e74c3c;
    /* Red color from image */
    border-radius: 50%;
    animation: spinReverse 3s linear infinite;
}

.circleInner {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 4px dotted #2ecc71;
    /* Green color from image */
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}