.mainWrapper {
  width: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #f0f0f0 1.2px, transparent 1.2px);
  background-size: 50px 50px;
  overflow-x: hidden;
}

.heroBanner {
  background-color: #001f24;
   background-image: url('/public/images/unnamed8.webp');
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: contain;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

.heroTitle {
  color: #000000;
  font-size: 2.0rem;
  font-weight: 400;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
  perspective: 1200px;
  padding: 0px 0px 20px 0px;
  /* Added for 3D image effects */
}

.infoSection {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 0px;
  height: 50%;
}

.reversed {
  flex-direction: row-reverse;
}

.imageBox {
  flex: 1;
  position: relative;
}

.roundedImg {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.roundedImg:hover {
  transform: scale(1.08) rotate(0deg);
  /* Beautiful hover tilt */
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.textBox {
  flex: 1.3;
}

.sectionHeading {
  color: #a33b11;
  /* Brand Red-Brown */
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 15px;
  background: linear-gradient(45deg, #a33b11, #ce1212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.paragraph {
  color: #444;
  font-size: 1.15rem;
  line-height: 2;
  text-align: justify;
  line-height:25px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.donateBtn {
  background-color: #43a047;
  /* NGO Green */
  color: #fff;
  padding: 20px 70px;
  border: none;
  border-radius: 60px;
  font-size: 1.0rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(28, 139, 91, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.donateBtn:hover {
  background-color: #ce1212;
  /* Red hover for emphasis */
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 15px 40px rgba(206, 18, 18, 0.4);
}


@media (max-width: 992px) {

  .infoSection,
  .reversed {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .heroTitle {
    font-size: 2.8rem;
  }
}